html {
    margin: 0px;
    padding: 0px;
    height: 100%;
}
body{
    margin: 0px;
    padding: 0px;
    height: 100%;
}
header {
    background-color: yellow;
}
h2 {
    text-align: center;
    margin: 0px;
}
form {
    background-color: pink;
    margin: 10px;
}
footer {
    background-color: orange;
}